body{
background-color: #00ff99;

}
.quotes .yobill {

	background-image: url("file:///C:/Users/kids/Documents/GitHub/ellenrrowe.github.io/teesforturtles/images/bill%20copeland%20quote%20image.jpg");
	background-size: 596px 447px;
	background-repeat: no-repeat;


}