body{
background-color: #00ff99;
}
.nav a{
	color:#000000;
}
.home a{
	color:#000000;

}
.jumbotron {
  background-image:url('images/jumbodude.jpg');
  height: 447px;
  background-repeat: no-repeat;
  background-size: cover;
}

.quotes h3 {

	background: url('images/bcquote.jpg');
	height: 447px;
	background-repeat: no-repeat;
	background-size:cover;

}
.home h2{
	text-align: center;

}
.newdesigns h2{
	text-align:center;

}
.quotes h2{
	text-align:center;

}
.funfacts h2{
	text-align:center;

}